*.o
*.out
*.log
*.csv
build/
.vscode/
.DS_Store
emulator-c/ping_measure
emulator-c/*.csv
emulator-c/udp_client
emulator-c/udp_server
emulator-c/udp_server
emulator-c/udp_server_results.csv
#external/docker_open5gs/
